{% extends "::layout.html.twig" %}

{% block title %}DadaWeather{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div class="jumbotron text-center round-padded">
                <h1>Votre ville actuelle</h1>
                <p>Oh non!  Nous n'avons pu détecter votre ville actuelle</p>
                <p><a class="btn btn-primary btn-lg" href="#" role="button">Réessayer</a></p>
            </div>
        </div>
    </div>
    <p>Heu… y a pas grand chose ici</p>
{% endblock %}